<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wfs20-nsg-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.iso19142.TestRunListener" />
    <listener class-name="org.opengis.cite.iso19142.SuiteFixtureListener" />
  </listeners>

  <test name="NSG Basic WFS Conformance Class">
    <classes>
      <class name="org.opengis.cite.wfs20.nsg.testsuite.getcapabilities.CapabilitiesServiceBindings" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
